.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem     2.3rem .5rem;
    text-align: center;
    margin: 10px auto;
}

.Business-information {
    display: flex;
    justify-content: space-between;
}

.Business-information p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1rem;
}

.Business-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
